body,
html {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.scroll {
  overflow-y: scroll;
}

.message-alert {
  text-transform: uppercase;
  color: gray;
  font-size: 13px;
}
